/*
 *= require_self
 *= require_tree .
 *= require navbar_styles
 *= require calendar
*/

.my_form {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.my_textbox {
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    padding: 6px 12px;
    margin-bottom: 10px;
}

.my_horizontal_btn_group {
    margin-right: 10px;
}

.my_btn_group {
    margin-top: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.btn_submit {
    margin-top: 10px;
}
