<h1>FitLog Pro: Тренируйся Сильнее, Следи За Собой!</h1>
<h3>О приложении</h3>
<p>FitLog Pro - это удобное приложение для отслеживания ваших тренировок и достижений в фитнесе.</p>
<p>Создавайте свои собственные упражнения, записывайте результаты тренировок и следите за своим прогрессом.</p>

<%= button_to "Войти", new_user_session_path, class: "btn btn-primary" %>